<!-- index.html (ch08www project) -->
{% extends "base.html" %}
{% block title %}分享日記{% endblock %}

{% block content %}
<div class='container'>

{% for message in messages %}
    <div class='alert alert-{{message.tags}}'>{{ message }}</div>
{% endfor %}

<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
                <h3>{{ username | default:"我"}}的私人日記</h3>
            </div>
        </div>
    </div>
</div>
    {% for diary in diaries %}
    {% cycle "<div class='row'>" "" "" %}
        <div class='col-md-4'>
            <div class='panel panel-primary'>
                <div class='panel-heading' align=center>
                    {{ diary.ddate }}
                </div>
                <div class='panel-body'>
                    {{ diary.note | linebreaks }}
                </div>
                <div class='panel-footer'>
                    今日花費：{{ diary.budget }}元，體重：{{ diary.weight }}公斤
                </div>
            </div>
        </div>    
    {% cycle "" "" "</div>" %}
    {% empty %}
        <h3><em>您還沒輸入日記或是未登入網站</em></h3>
    {% endfor %}
<!-- end container -->
</div>
<!-- end content -->
{% endblock %}


