<!-- index.html (ch08www project) -->
{% extends "base.html" %}
{% block title %}投票趣{% endblock %}
{% block content %}
<div class='container'>

    {% for message in messages %}
        <div class='alert alert-{{message.tags}}'>{{ message }}</div>
    {% endfor %}

    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    <h3>歡迎光臨投票趣</h3>
                    <p>歡迎使用Facebook註冊/登入你的帳號，以擁有投票和製作投票的功能。</p> 
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
    {% for poll in polls %}
        {% if forloop.first %}
            <div class='list-group'>
        {% endif %}
            <a href='{% url "poll-url" poll.id %}' class='list-group-item'>
                {{ poll.name }}
            </a>
        {% if forloop.last %}
            </div>
        {% endif %}
        {% empty %}
            <center><h3>目前並沒有活躍中的投票項目</h3></center>
    {% endfor %}
    </div>
    
<!-- end container -->
</div>
<!-- end content -->
{% endblock %}


